body {
    background-color: var(--charcoal-white);
    color: var(--charcoal-black);
    font-family: var(--font-roboto), var(--font-sans-serif);
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
}

.main-content {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.main-content-center {
    justify-content: center;
    align-items: center;
}

.banner-header {
    font-family: var(--font-coarse-rounded);
    font-size: 4rem;
    margin: 0.5rem 0;
}

.banner-subtext {
    font-family: var(--font-coarse-rounded);
    font-size: 1rem;
    padding: 0.5rem;
}

.banner-btn-group {
    padding-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.banner-btn {
    background-color: var(--charcoal-black);
    color: var(--charcoal-white);
}

.banner-btn:hover {
    background-color: var(--charcoal-white);
    color: var(--charcoal-black);
}

.divider {
    height: 2px;
    background-color: var(--charcoal-black-light);
    margin: 1rem 0;
}

.component-container {
    padding: 0.5rem 1rem;
}

.component-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.5px;
    padding: 0.5rem;
    padding-left: 1rem;
}

.component-content-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.25px;
    padding: 0.5rem;
    padding-left: 1rem;
}

.component-info {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    padding: 0.5rem;
    padding-left: 1rem;
}

.component-content {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    padding-left: 1rem;
}

.component-content-section {
    padding: 1rem;
    position: relative;
    margin: 0.5rem 1rem;
    border: 1px solid var(--charcoal-white);
}

.component-content-section-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.component-content .fixed {
    height: 20rem;
}

.component-container-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.border {
    border: 2px solid var(--charcoal-white);
}

.border-bottom {
    border-bottom: 2px solid var(--charcoal-white);
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 12px;
    }
    
    .container {
        grid-template-columns: 35% 65%;
    }
}