body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 98.5vw;
    position: relative;
    background-color: var(--charcoal-white);
    color: var(--charcoal-black);
    font-family: var(--font-roboto), var(--font-coarse-rounded);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}