@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/coarse-rounded');

:root {
    --font-roboto: 'Roboto';
    --font-coarse-rounded: 'Coarse Rounded';
    --font-sans-serif: 'sans-serif';
}