.form-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    gap: 5px;
    justify-content: center;
    height: auto;
    width: 85%;
    color: var(--charcoal-black);
}

.input-label {
    font-size: 0.75rem;
    font-weight: 500;
}

.input {
    background: var(--charcoal-white);
    border: 1px solid var(--charcoal-gray);
    border-radius: 4px;
    color: var(--charcoal-black);
    height: auto;
    letter-spacing: 1px;
    line-height: 1.25rem;
    width: 100%;
    padding: 5px;
}

.input:focus {
    border: 2px solid var(--charcoal-black);
}

.error-msg {
    color: var(--error-dark);
    font-size: 0.625rem;
}

.form-field-horizontal {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.form-control-horizontal {
    display: flex;
    align-items: center;
    gap: 2px;
}