.form-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.5rem;
    justify-content: center;
    height: auto;
    width: 85%;
}

.input-label {
    font-weight: 500;
    padding: 0.25rem;
    color: var(--charcoal-black);
}

.input {
    background: var(--charcoal-white);
    border: 1px solid var(--charcoal-gray);
    border-radius: 0.25rem;
    color: var(--charcoal-black);
    height: auto;
    width: 100%;
    padding: 0.5rem;
    outline: none;
}

.input-text {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1rem;
}

.input-radio {
    margin: 0;
}

.input-text:focus,
.input-text:hover,
.input-text:active {
    outline: 1px solid var(--charcoal-black);
}

.error-msg {
    color: var(--error);
    font-size: 0.75rem;
}

.form-field-horizontal {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.625rem;
}

.form-control-horizontal {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}