.nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px soild var(--charcoal-white);
    height: 3.5rem;
    margin: 0;
    font-family: var(--font-coarse-rounded);
}

.nav-bar-fixed {
    position: fixed;
    top: 0;
}
.logo {
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: 'Coarse Rounded';
}
.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}

.logo-text:hover {
    filter: brightness(50%);
}

.nav-action {
    padding: 0;
    padding-right: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.75px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

.nav-action-item {
    padding: 0.5rem;
}

.nav-action-text {
    display: block;
}

.nav-action-item:hover {
    filter: brightness(50%);
}

.nav-menu {
    right: 0;
    top: 3.5rem;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.nav-menu-show {
    display: block;
}

.nav-menu-link {
    padding: 1rem 1.5rem;
    display: block;
    cursor: pointer;
}

.nav-menu-link:hover {
    font-weight: 700;
    background-color: var(--charcoal-black-light);
    color: var(--charcoal-gray);
}

.nav-icon {
    height: 1.75rem;
    width: 2rem;
}

.btn:hover {
    filter: brightness(80%);
}


.sub-nav-menu {
    padding: 0.5rem;
    align-self: flex-start;
}

.sub-menu-list {
    position: relative;
    top: 1.3rem;
    display: none;
}

.sub-menu-item {
    padding: 0.5rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.sub-nav-menu .nav-action-item {
    padding: 0.65rem;
}

.sub-nav-menu:hover > .sub-menu-list {
    display: block;
    transition: 0.2s;
}

.sub-menu-item:hover > a {
    font-weight: 700;
}